@media(max-width:425px){
.nav-container{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.menus{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.memu-item{
    display: flex;
    flex-direction: column;
    padding: 36px;
}
.banner-container{
    flex-direction: column;
    align-items: center;
    width: 100%;
    
}
.banner-typo{
    font-size: 3.5rem;
}
.banner-title{
    font-size: 2rem;
}
.banner-text-container{
    font-size: 10px;
}


.banner-text, .paragraphs, .banner-imgs{
    width: 100%;


}
.game-container{
    flex-direction: column;
    margin-top: 10px;
    width: 100%;
}

.game-img, .play-image-contianer{
    width: 100%;
  
}
.play-image-contianer{
    width: 100%;
  
}
.game-text{
    text-align: center;
    width: 100%;
}
.online-game-container, .card-items{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

}

.online-game-container, .card-items, .play_container {
    grid-template-columns: 1fr;
    }
.container, .play_container {
    width: 425px;
    margin: auto;
}
.grid-container {
        grid-template-columns: 1fr;
     }
  .play-details{
    display: flex;
    flex-direction: column;
    padding: 36px;
  }
  .link-container{
    justify-content: center;
  }
  .container  {
    width: 100%;
    margin-top: 150px;
}
.footer-container{
    flex-direction: column-reverse;
    align-items: center;
    width: 100%;

    
}
.importent-links{
    align-items: center;
    flex-direction: column-reverse;
 
}
  }


@media(max-width:768px){
    .nav-container{
       width: 100%;}
 
    .banner-container{
        flex-direction: column;
        align-items: center;
        width: 100%;
        
    }
    .online-game-containe, .card-items, .game-details, .play_container,.play-details {
        flex-direction: column;
        align-items: center;
        width: 50%;
        grid-template-columns: repeat(2, 1fr);
    }
    .play-img-items img{
       
            width: 100%;
            height: 100%;
          }
          
          .cat-img  {
            position: absolute;
            top: 55%;
            /* left: -153px; */
          }
          .footer-container{
            flex-direction: column-reverse;
            align-items: center;
            width: 100%;
      }
      .cat-img  {
        position: absolute;
        top: 55%;
        left: -153px;
      }
      .link-container{
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
        
      }
    }
      
     
      /* .container, .play_container {
        width: 580px;
        margin-top: 150px;
    } */
